@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.content {
  padding-bottom: 100px;
  margin-top: 50px;
  width: 100%;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-container .content  {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.chart-container-title {
  color: #467599;
}

.chart-container-row {
   display: flex;
  justify-content: space-between;
}



.eth-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 256 417"><path fill="%23000000" d="M127.7 0v143.2l108.2 48.4L127.7 0zM127.7 0L19.5 191.6l108.2-48.4V0zM127.7 279.7v136.9l108.3-148.7-108.3 48.2zM127.7 416.6V279.7L19.5 267.8l108.2 148.8zM127.7 258.5l108.2-63.3-108.2-48.4v111.7zM19.5 195.2l108.2 63.3V146.8l-108.2 48.4z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
  vertical-align: middle;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.tool-card.tool-tokenomics {
  cursor: pointer;
}

